.topbar
  .topbar__navigation
    .home
      = link_to root_path do
        = fa_icon "home"
        .text ホーム
    .registration
      = link_to new_task_path do
        = fa_icon "edit"
        .text 登録
    .title TodoWeb
